@font-face {
	src: url("../fonts/HennyPenny-Regular.otf");
	font-family: Penny;
}

@font-face {
	src: url("../fonts/Blokletters-Balpen.ttf");
	font-family: Blok;
}

body
{
	/*background-color:#EDABB7;*/
	/*background-image: url(images/fondciel.jpg);*/
	margin: 0;
	font-family: Penny;
	padding-top: 70px;

}
label
{
	display:none;
}
header
{
	height: 100px;
	background-color:#d9edf7; /*#F099C4*/
	font-size: 36px;
	text-align: center;
	line-height: 100px;
	font-family: Blok;
/*	border-top: 8px solid #999999;
	border-bottom: 8px solid #999999;*/
}
header p
{
	margin: 0;
}
li
{
	text-decoration: none;
	display: inline-block;
    padding: 10px;
    font-family: Blok;
}
.bienvenue
{
	background-color: gray;
	width: 400px;
	margin: auto;
}

a {
	font-family: Blok;
}

input, textarea {
	font-family: Blok;
}

.radio
{
	font-family: Blok;
}

.selected
{
	background-color:#000;
}

.carte
{
	padding:5px;
	height:350px;
}

.carte:hover
{
	background-color:#AAA;
}

.carte > .row > img 
{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.portrait
{
	
}

.paysage
{
}

#login
{
	/*border-right:1px solid black;*/
}

#login:hover
{
	/*background-color:#c4E4FF;*/
}

footer 
{
	border-top: 8px solid #CBA2DD;
	text-align: center;
	position:fixed;
	bottom:0px;
	width:100%;
	height: 9em;
	background-color: #CBC2ED;
	z-index: -100;
	font-family: Blok;
}

#cigogneFooter {
	position: relative;
	top: -175px;
	opacity: 0.6;
}

#menu, #slide {
	background-color: #EDABB7;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: Blok;
}


#nav_content{
	margin-left: auto;
	margin-right:auto;
	font-family: Blok;
}

#menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: Blok;
}

 .item, .item_active{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#carouselvoeux{
	margin-left: 20%;
	margin-right: 20%;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#imprimer
{
	margin-top: 20%;
	margin-left: 25%;

}
#impression
{
	margin-top: 10%;
}
#VersionImprimable
{
	display:none;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
#caro{
	width: 50%;
	z-index: 82;
}
carouselvoeux
{
	width: 450px;
}

header
{
	margin-bottom:50px;
	font-family: Blok;
}

.img_admin
{
	height:80px;
	width:60px;
}

table, tr, td, th
{
	border-radius:5px;
	padding:3px;
	margin-bottom:10px;
	font-family: Blok;
}

#error { /* Pages d'erreur 403/404 personnalisées */
	font-family: Blok;
}

#form_addCard, select, #myModalLabel {
	font-family: Blok;	
}
